
<div class="card-view-content">

    <!-- Image de la carte -->
    <div *ngIf="card && card.images">
        <img [src]="card.images.small" alt="image"/>
    </div>
    <div>

    <!-- Affichage du prix de la carte le plus bas sur le marché -->
    <div *ngIf="lowPriceCard">
        Prix: {{lowPriceCard}} &euro;
    </div>
    
    <!-- Ajout de la carte dans le panier (s'il n'y est pas déja présent) -->
    <button
        *ngIf="card && inBucket === false"
        (click)="onAdd(card.id)"
        data-test="add-button"
    >Ajouter au panier</button>
    
    <!-- Suppression de la carte du panier (si la carte est présente dans le panier) -->
    <button
        *ngIf="card && inBucket === true"
        (click)="onRemove(card.id)"
        data-test="remove-button"
        >Retirer du panier</button>

</div>


